<!-- fashion section start -->
<div class="fashion_section">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital">Man & Woman Fashion</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <% for(let i=0 ; i < allProducts.length ; i++ ){ const product=allProducts[i]; %>
                                <div class="col-lg-4 col-sm-4">
                                    <div class="box_main">
                                        <h4 class="shirt_text">
                                            <%= product.title; %>
                                        </h4>
                                        <p class="price_text">Price <span style="color: #262626;">$ <%= product.price;
                                                    %></span></p>
                                        <div class="tshirt_img"><img style="height: 200px;" src="<%= product.path;%>">
                                        </div>
                                        <div class="btn_main">
                                            <div class="buy_bt"><button onclick="addToCart('<%= product.id; %>')" >Add to
                                                    cart</button></div>
                                            <div class="seemore_bt"><a href="#">See More</a></div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% if(status == 'order placed'){ %>
<script>
    alert('order placed');
</script>    
<% } %>
<script>
    addToCart = (productId) => {
        console.log('productId', productId);
        $.ajax({
            url: '/add-to-cart',
            method: 'post',
            data: { productId: productId },
            success: function (result) {
                console.log('result', result)
                alert('item added to cart');
            },
            error: function (error) {

            }
        })
    }
</script>